<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>43883694379-75n561o3v9insk3cfk0a3d7gnsejerhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43883694379-75n561o3v9insk3cfk0a3d7gnsejerhv</string>
	<key>API_KEY</key>
	<string>AIzaSyB9FRHtP2hvlXoYwgwXGwPFBtI0idXEwlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>43883694379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>west.Jive-Factory</string>
	<key>PROJECT_ID</key>
	<string>jive-factory-6de56</string>
	<key>STORAGE_BUCKET</key>
	<string>jive-factory-6de56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43883694379:ios:4ba156c6bb6b3c1a</string>
	<key>DATABASE_URL</key>
	<string>https://jive-factory-6de56.firebaseio.com</string>
</dict>
</plist>